{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Password - Cadence</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="login-box">
    <div class="title-bar">CADENCE</div>

   
    <form method="POST">
      {% csrf_token %}
      <h3>Enter New Password</h3>

      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="message error">{{ error }}</div>
          {% endfor %}
        {% endfor %}
      {% endif %}

      <input type="password" name="new_password1" placeholder="New password" required>
      <input type="password" name="new_password2" placeholder="Confirm new password" required>
      <button type="submit">SET NEW PASSWORD</button>
    </form>
   

  </div>
</body>
</html>