# Python cache
__pycache__/
*.pyc
*.pyo


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

#Editor / OS files
.vscode/
.DS_Store
Thumbs.db

#Test / coverage
.pytest_cache/
.coverage
htmlcov/


# # Translations
# *.mo
# *.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal


# # Redis
# *.rdb
# *.aof
# *.pid


# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


