:root {
  --bg: #b9c7ff;
  --window: #fff4e6;
  --border: #ff8fb1;
  --title: #ff6fae;
}

body {
  background: linear-gradient(135deg, #b9c7ff, #f6c1ff);
  font-family: "Press Start 2P", "Inter", sans-serif;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}


.login-box {
  background: var(--window);
  width: 350px;
  border: 3px solid var(--border);
  box-shadow: 8px 8px 0 #ff9f45;
  padding: 20px;
}

.title-bar {
  background: var(--title);
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: 1.5em;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  border: 2px solid var(--border);
  font-family: inherit;
  font-weight: 1.5em;
  background: #fff;
}

button {
  width: 100%;
  margin-top: 20px;
  background: var(--btn);
  border: 3px solid var(--border);
  padding: 10px;
  font-family: inherit;
  font-weight: 1.5em;
  cursor: pointer;
  box-shadow: 4px 4px 0 var(--btn-shadow);
}

button:active {
  box-shadow: none;
  transform: translate(4px, 4px);
}